<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<meta http-equiv="Cache-Control" content="no-store" />
<link rel="shortcut icon" href="favicon.ico"/>
<title>Funcionários - Início</title>
<link rel="stylesheet" type="text/css"
	href="resources/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="resources/css/bootstrap-vue.css">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<body >


	<div id="inicio" class="container table" >
		<h4>Lista dos Funcionários</h4>
		<table>
		  <tr>
			<th>Nome</th>
			<th>Setor</th>
			<th>Salário</th>
			<th>Email</th>
			<th>Idade</th>
			<th></th>
			<th></th>
		  </tr>
		  <tbody id="event-table" >
			<tr v-for="funcionario in lista">
			  <td>{{ funcionario.nome }}</td> 
			  <td>{{ funcionario.setor.nome }}</td> 
			  <td>{{ funcionario.salario }}</td> 
			  <td>{{ funcionario.email }}</td> 
			  <td>{{ funcionario.idade }}</td>
			  <td><span data-toggle="modal" data-target="#myModal" class="btn btn-warning" @click="editar(funcionario)">&#9998;</span>
				<span class="btn btn-danger" @click="deleteFuncionario(funcionario.id)">&#10006;</span>
			  </td>
			</tr>
		  </tbody>
		</table>

		<div>
			<a class="btn btn-primary" href="/funcionarios/pages/novo-funcionario.html">Cadastrar Novo Funcionario</a>
		</div>

	  <!-- Modal Inicio-->

	  <div id="myModal" class="modal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title">Atualização De Funcionario</h5>
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
			<div class="modal-body">
				<form action="" @submit.prevent="atualizaFuncionario">
				<div class="form-group">
					<label for="nome">Nome</label>
					<input class="form-control" type="text" name="nome" id="nome" v-model="novoFuncionario.nome" placeholder="Informe nome do funcionario" >
				</div>
				<div class="form-group">
					<label for="setor">Setor</label>
					<input class="form-control" type="text" name="setor" id="setor"  v-model="novoFuncionario.setor.nome" placeholder="Informe nome do setor">
				</div>
				<div class="form-group">
					<label for="salario">Salario</label>
					<input class="form-control" type="number" name="salario" id="salario"  v-model="novoFuncionario.salario" placeholder="Informe Salario">
				</div>
				<div class="form-group">
					<label for="email">Email</label>
					<input class="form-control" type="email" name="email" id="email"  v-model="novoFuncionario.email" placeholder="Informe Email">
				</div>
				<div class="form-group">
					<label for="idade">Idade</label>
					<input class="form-control" type="number" name="idade" id="idade"  v-model="novoFuncionario.idade" placeholder="Informe Idade">
				</div>
				
			</form>
			</div>
			<div class="modal-footer">
			  <button type="submit" class="btn btn-primary">Atualizar</button>
			  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
			</div>
		  </div>
		</div>
	  </div>

	  <!-- Modal Fim-->
	  
	</div>
	  </div>

	<script src="resources/js/vue.js"></script>
	<script src="resources/js/axios.min.js"></script>
	<script src="resources/js/index.js"></script>

</body>
</html>